.btn {
  cursor: pointer;
}

* {
  font-family: 'Roboto Slab', serif;
}

body {
  margin: 0;
}

.app {
  margin: 0;
  padding: 0;
  filter: blur(0.4px) saturate(1.1);
  min-height: 100vh;
}

.app__root {
  background-color: white;
  position: relative;
}

.app__container {
  padding: 0 2rem;
  max-width: 1000px;
  display: block;
  margin: auto;
  position: relative;
}

.header {
  border-bottom: 1px solid $color-white;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  div {
    display: flex;
    align-items: center;
  }

  h1 {
    display: inline-block;
    margin-right: 1rem;
  }
}

.header__logo {

}

.header__nav {
  width: 50%;
}

.nav__container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav__item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer {
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  padding: 15px;
  margin: 50px 0 0 0;
  box-sizing: border-box;
  bottom: 0;
}

.contact__container {
  display: flex;
  width: 40%;
  justify-content: space-evenly;

  div {
    cursor: pointer;
    display: inline-block;
    margin: 0.4rem;
    position: relative;
    top: 1px;

    svg {
      fill: $color-white;
    }
  }

  p {
    display: inline-block;
  }
}

.copyright__container {
  display: inline-block;

  p {
    font-size: 0.7rem;
    color: $color-grey;
  }
}

.share {
  display: inline-flex;
}


.share__container {
  display: flex;
  // height: 200px;
  flex-direction: row;
  justify-content: space-between;

  div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

  p {
    display: flex;
    margin: 1rem;
    justify-content: center;
  }
}

.icon__container {
  cursor: pointer;
  z-index: 2;

  div {
    z-index: -1;
  }

  svg {
    z-index: -1;
  }
}

.icon__container--audio-control {
  position: relative;
  top: 12px;
  margin: 0 0 0 0.5rem;

  div {
    div {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.icon {
  z-index: 1;

  &:hover {
    fill: $color-primary;
  }

  .share {
    color: $color-black;
  }

  .volume {
    &:hover {
      fill: $color-white;
    }
  }
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: -1;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  &.isVisible {
    z-index: 6;
    bottom: 0;
    display: flex;
  }
}

.modal__messagebox {
  z-index: -1;
  height: auto;
  width: 30%;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  transform: translateY(0);
  transition: all 0.1s ease;
  opacity: 0;

  &.isVisible {
    z-index: 6;
    opacity: 1;
  }

  h1 {
    margin-right: 0;
  }

  p {
    margin: 0 0 2rem 0;
    font-weight: 100;
    text-align: center;
    text-align: justify;
  }

  @media (max-width: $tablet) {
    width: 70%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.modal__curtain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: $color-black;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.1s ease;

  &.isVisible {
    opacity: 0.95;
    bottom: 0;
  }
}

.modal__button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.modal__button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &.confirm {
    border-color: $color-green;
    color: $color-green;

    &:hover {
      color: white;
      background-color: $color-green;
    }
  }

  &.reject {
    border-color: $color-red;
    color: $color-red;

    &:hover {
      color: white;
      background-color: $color-red;
    }
  }
}

.fretboard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: border 0.25s ease;
  width: 100%;
  margin: 0 auto;
  
    &:hover {
      transition: border 0.25s ease;
      // border: 1px solid $color-grey;
    }
}

.fretboard__container {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.fretboard__header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 1rem;
}

.header__tuning {
  width: 80%;
}

.header__audio-control {
  width: 20%;
}

.audio-controller {
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 5px;
}

.fretboard__string {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tuning__title {
  display: inline-block;
  min-width: 130px;
}

.tuning__note {
  display: inline-block;
  margin: 0.5rem;
}

.string {
  display: flex;
}

.string__fret {
  border: 1px solid $color-black;
  width: calc(100%/23);
  height: 1.7rem;
  position: relative;
  opacity: 0.7;
  max-height: 100%;
  background-color: $color-white;
  margin: 1px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 100;
  
  &:hover {
    cursor: pointer;
    background-color: $color-white;
    opacity: 1;
  }

  &.root {
    background-color: white;
    font-weight: 600;
  }

  &.selected {
    background-color: $color-primary !important;
    opacity: 1 !important;

    p {
      color: $color-black;
      font-weight: 700;
    }
  }

  &.guide {
    border: none;
    background: transparent;
    opacity: 0.4;

    &:hover {
      opacity: 0.7;
    }
  }
}

.fret__name {
  color: $color-black;
  font-size: 0.7rem;
}

.fret__number {
  display: none;
  color: $color-black;
  font-size: 0.8rem;
  position: absolute;
}

.fret--guide {
  background-color: white;
}

.fret__note-name {

}

.tuning-selector {
  width: 30%;
  position: relative;
  display: inline-block;
  top: 6px;
  margin-right: 3rem;
  cursor: pointer;
}

.scales-selector {
  width: 30%;
  position: relative;
  display: inline-block;
  top: 12px;
  margin: 0;
  cursor: pointer;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: rgb(184, 127, 127);
  cursor: pointer;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-placeholder {

}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51,51,51,0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;

  &.isSelected {
    background-color: #f2f9fc;
    color: #333;
  }
}


/**
 *  CHORD BANK
 */

.chordbank__container {
  display: flex;
  margin: 2rem;
  justify-content: space-evenly;
}

.chordbank__data {
  display: block;
  height: 90px;

  &:nth-of-type(1) {
    border-bottom: 1px solid $color-white;
  }

  &:nth-of-type(2) {
    border-bottom: 1px solid $color-white;
  }
}

.chordbank {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: border 0.25s ease;

  &:hover {
  }
}

.chords__container {
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: border 0.25s ease;

  &:hover {
  }
}

.chords__match-toggle {
  display: flex;
  justify-content: flex-start;

  h4 {
    display: inline-block;
    padding-left: 1rem;
  }
}

.chords__list {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 300px;
}

.chordbank__header {
  display:inline-block;
  margin-right: 1rem;
  min-width: 130px;
  margin-bottom: 0;
}

.chordbank__active-notes {
  padding: 0 0 0 1rem;

  p {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.chordbank__selected-chord {
  padding: 0 0 0 1rem;
  display: block;
}

.button-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chordbank__button {
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: 150px;
  padding: 0 0.5rem;
  border: 2px solid #191919;
  background-color: transparent;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;

  &:disabled {
    opacity: 0.6;

    &:hover {
      cursor: not-allowed;
      background-color: transparent;
    }

  }
  
  &:hover {
    cursor: pointer;
    background-color: $color-black;
    color: $color-white;
  }

  p {
    text-transform: uppercase;
  }

  svg {
    vertical-align: middle;
    margin: 0 0.5rem;
    width: 18px;
    height: 30px;
  }
}

.chord-match {
  box-sizing: border-box;
  height: 35px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  // border-bottom: 1px solid lightgrey;
  opacity: 0.8;
  
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.chord-match--selected {
  background-color: $color-white;
  border: 1px solid lightgrey;
  opacity: 1;

  p {
    font-weight: bolder;
  }
}

.chord-match__name {
  font-size: 0.9rem;
  display: inline-block;
  margin-right: 1rem;
}

.chord-match__notes {
  display: inline-block;

  p {
    display: inline-block;
    font-size: 0.8rem;
  }
}


/**
 *  KEYBOARD
 */

.keyboard {
  display: flex;
  justify-content: center;
  position: relative;
  width: 300px;
}

.keyboard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard__controller {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.keyboards {
  display: flex;
}

.keyboard__key {
  background-color: white;
  border: 1px solid #111;
  display: inline-block;
  height: 130px;
  position: relative;
  width: 35px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  p {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    &.key__name--keyboard {
      bottom: 1.5rem;
    }
  }
}

.difference {
  background-color: $color-secondary !important;
}

.highlighted {
  background-color: $color-primary !important;
}

.scale {
  background-color: $color-tertiary !important;
}

.sharp {
  background-color: $color-black;
  position: absolute;
  top: 0px;
  z-index: 2;
  height: 75px;
  left: 40px;
  width: 32px;

  p {
    color: $color-white !important;
    text-align: center;
  }

  &.D {
   left: 78px;
  }

  &.F {
   left: 150px;
  }
  
  &.G {
   left: 188px;
  }
  
  &.A {
   left: 226px;
  }
}

.laptop-check__container {
  text-align: center;
  display: flex;
  justify-content: center;

  p {
    font-weight: 100;
    margin-right: 1rem;
  }
}

.rc-checkbox-input {
  width: 15px;
  height: 15px;
}

.audio-controller__status {
  display: inline-block;
}

.chordselectors__container {
  width:100%;
  display: flex;
}

.register, 
.login {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;

  &.isVisible {
    z-index: 10;
    opacity: 1;
  }
}

.register__container,
.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $color-white;
  z-index: 10;
  width: 50%;
  height: 50%;
  transform: translate3d(50%, 50%, 0);
}

.register__title,
.login__title {
  font-weight: 400;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.register__form,
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.form-group {
  width: 50%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    height: 2rem;
  }
}

.app__auth {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;

  &.isVisible {
    z-index: 10;
    opacity: 1;
  }
}

.container__all {
  display: flex;
  justify-content: space-around;
}

.container__left {
  width: 20%;
  padding-left: 1rem;
  box-sizing: border-box;
}

.container__center {
  width: 60%;
}

.container__right {
  height: 400px;
  width: 20%;
  padding-right: 1rem;
  box-sizing: border-box;
}