* {
  box-sizing: border-box;
}

.btn {
  cursor: pointer;
}

* {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
}

body {
  margin: 0;
}

.app {
  margin: 0;
  padding: 0;
  filter: blur(0.4px) saturate(1.1);
  min-height: 100vh;
}

.app__mobile-landscape-notification {
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $color-black;

    h1 {
      color: white;
      text-align: center;
    }

    p {
      color: white;
      text-align: center;
      padding: 1rem;
    }
  }
}

.app__root {
  background-color: white;
  position: relative;
}

.app__container {
  display: grid;
  margin: auto;
  position: relative;
  grid-template-rows: 1fr 1fr 2.52fr 2.52fr 1fr;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-areas:
    "header header header header"
    "controls controls controls controls"
    "fretboard fretboard options choice"
    "keyboard keyboard download choice"
    "footer footer footer footer";
  grid-gap: 2rem;

  @include tablet {
    height: auto;
    grid-template-rows: 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "controls controls"
      "fretboard fretboard"
      "options choice"
      "keyboard keyboard"
      "footer footer" !important;
  }
}

.header {
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  div {
    display: flex;
    align-items: center;
  }

  h1 {
    display: inline-block;
    margin-right: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }
}

.header__logo {
  h1 {
    letter-spacing: -3px;
    font-size: 3rem;
  }
}

.header__nav {
  width: 50%;

  @include tablet {
    width: 100%;
  }
}

.nav__container {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  @include tablet {
    padding: 0;
    margin: 0;  
    justify-content: space-evenly;
  }
}

.nav__item {
  cursor: pointer;
  display: flex;
  align-items: center;

  &.--how-to-use {
    margin: 0 2rem 0 0;

    @include tablet {
      margin: 0;
    }
  }
}

.footer {
  grid-area: footer;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  bottom: 0;
  z-index: 2;

  @include tablet {
    position: relative;
  }
}

.contact__container {
  display: flex;
  width: 40%;
  justify-content: space-evenly;

  div {
    cursor: pointer;
    display: inline-block;
    margin: 0.4rem;
    position: relative;
    top: 1px;

    svg {
      fill: $color-white;
    }
  }

  p {
    display: inline-block;
  }
}

.copyright__container {
  display: inline-block;

  p {
    font-size: 0.6rem;
    opacity: 0.6;
    color: $color-grey;
  }
}

.share {
  display: inline-flex;
  background-color: $color-title-hover;
}


.share__container {
  display: flex;
  // height: 200px;
  flex-direction: row;
  justify-content: space-between;

  div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

  p {
    display: flex;
    margin: 1rem;
    justify-content: center;
  }

  &:hover {
    p {
      text-decoration: line-through;
    }
  }
}

.icon__container {
  cursor: pointer;
  z-index: 2;

  div {
    z-index: -1;
  }

  svg {
    z-index: -1;
  }
}

.icon__container--audio-control {
  position: relative;
  top: 8px;
  margin: 0 0 0 0.5rem;

  div {
    div {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.icon {
  z-index: 1;

  &:hover {
    fill: $color-primary;
  }

  .share {
    color: $color-black;
  }

  .volume {
    &:hover {
      fill: $color-white;
    }
  }
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: -1;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  &.isVisible {
    z-index: 6;
    bottom: 0;
    display: flex;
  }
}

.modal__messagebox {
  z-index: -1;
  height: auto;
  width: 30%;
  background-color: $color-white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  transform: translateY(0);
  transition: all 0.1s ease;
  opacity: 0;

  &.isVisible {
    z-index: 6;
    opacity: 1;
  }

  h1 {
    margin-right: 0;
  }

  p {
    margin: 0 0 2rem 0;
    font-weight: 100;
    text-align: center;
  }

  @include tablet {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;

    p {
      max-width: 60%;
    }
  }
}

.modal__curtain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: $color-black;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.1s ease;

  &.isVisible {
    opacity: 0.95;
    bottom: 0;
  }
}

.modal__button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.modal__button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &.confirm {
    border-color: $color-green;
    color: $color-green;

    &:hover {
      color: white;
      background-color: $color-green;
    }
  }

  &.reject {
    border-color: $color-red;
    color: $color-red;

    &:hover {
      color: white;
      background-color: $color-red;
    }
  }
}

.register, 
.login {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;

  &.isVisible {
    z-index: 10;
    opacity: 1;
  }
}

.register__container,
.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $color-white;
  z-index: 10;
  width: 50%;
  height: 50%;
  transform: translate3d(50%, 50%, 0);
}

.register__title,
.login__title {
  font-weight: 400;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.register__form,
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.form-group {
  width: 50%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    height: 2rem;
  }
}

.app__auth {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;

  &.isVisible {
    z-index: 10;
    opacity: 1;
  }
}

.container__all {
  display: flex;
  justify-content: space-around;
  height: calc(100% - 300px);

  @include tablet {
    flex-direction: column;
  }

  @include laptop {
    flex-direction: column;
    margin-bottom: 200px;
  }
}


.main__downloadmidi {
  grid-area: download;
  border: 1px solid rgba(189, 196, 196, 0.7);
  position: relative;
  border-radius: 10px;

  @include tablet {
    display: none;
  }
}

.container__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36%;

  @include tablet {
    width: 100%;
  }

  .right--verticals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 78%;
  }
  
  .right--horizontal {
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include content-box-style;
    // flex-direction: col;
  }
}

.container__choice {
  width: 48%;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;

  @include content-box-style;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.options__title {
  margin: 0;
}

.container__center {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    width: 100%;
  }
}

.main__options {
  grid-area: options;
  border: 1px solid rgba(189, 196, 196, 0.7);
  position: relative;
  border-radius: 10px;
}

.main__choice {
  grid-area: choice;
  border: 1px solid rgba(189, 196, 196, 0.7);
  position: relative;
  border-radius: 10px;

}
.container__options {
  width: 48%;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;

  @include content-box-style;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.choice__title {
  margin: 0;
}

.app__misc {
  width: 36.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h1 {
    top: -27px !important;
  }

  @include content-box-style;

  .how-to-use {
    display: flex;
    margin-right: 1rem;

    p {
      margin-right: 0.5rem;
    }
  }
}

.howToUse__video-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate3D(-50%, -250%, 0);
  z-index: 10;
  flex-direction: column;
  
  &.isVisible {
    transform: translate3D(-50%, -60%, 0);
  }

  p {
    opacity: 0.85;
    font-size: 1rem;
    color: $color-white;

    &:hover {
      cursor: pointer;
      text-decoration: line-through;
      opacity: 1;
    }
  }
}